<launch>
      <arg name="fps" default="30" />
      <arg name="camera_device" default="0"/>
      <arg name="output_location"/>

      <node name="camera_publisher" pkg="e2e_self_driving" type="zed_camera.py" ns="data_recording" output="screen">
            <param name="device" value="$(arg camera_device)" />
      </node>

      <node name="data_recorder" pkg="e2e_self_driving" type="record.py" ns="data_recording" output="screen">
            <param name="output_dir" value="$(arg output_location)" />
      </node>



</launch>
