<launch>
      <arg name="fps" default="30" />
      <arg name="camera_device" default="0"/>
      <arg name="output_location" />

      <node name="camera" pkg="e2e_self_driving" type="zed_camera.py" ns="camera" output="screen">
            <param name="fps" value="$(arg fps)" />
            <param name="device" value="$(arg camera_device)" />
      </node>

       <node pkg="rosbag" type="record" name="train_data" output="screen"
       args="record -o $(arg output_location) 
       /camera/left
       /camera/right"
       />

</launch>
